<header id="header">
	<div id="header-wrapper" class="clearfix">
		<a id="logo" href="/">
			<%- config.title %>
		</a>
		<button id="site-nav-switch" class="switcher">
	    <span class="icon icon-menu"></span>
	  </button>
		<button class="switcher search-switch ">
			<span class="icon icon-search"></span>
		</button>
		<% if (theme.search.enable === true) { %>
			<div class="search">
				<form name="searchform" id="searchform" class="u-search-form">
					<input type="text" id="searchinput" class="u-search-input" placeholder="Looking for something?" />
					<button type="submit" id="u-search-btn-submit" class="u-search-btn-submit">
						<span class="icon icon-search"></span>
					</button>
				</form>
			</div>
		<% } %>
	</div>
	<aside id="site-menu">
  	<nav>
  		<% theme.navigation.forEach(function(value, key) {
            if (value.url && value.slug && value.name) { %>
        <a href="<%= value.url %>" class="nav-<%= value.slug %> nav">
          <%= value.name %>
        </a>
      <% } }); %>
    </nav>
	</aside>
</header>
