#header {
	position: relative;
	width: 100%;
	color: @black;
	padding-bottom: 40px;
	border-top: 2px solid black;
	transition: all 0.24s ease;
	z-index: 3;
	@media (max-width: @on-phone)  {
		padding-bottom: 20px;
	}
	#header-wrapper {
		position: relative;
		width: 100%;
		height: 70px;
		background: white;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid lighten(#DEDFE1,1%);
		padding: 0px 20px;
		z-index: 3;
	}

	#logo {
		display: block;
		line-height:69px;
		float:left;
		font-size:1.2em;
		transition: all 0.24s;

		@media (max-width: @on-phone)  {
			// width: 140px;
			// height: 70px;
			// margin-left: -70px;
			// padding: 10px 0px;
		}

		img {
			display: block;
			width: 70px;
			height: auto;
			margin: 0px auto;
			transition: all 0.24s;

			@media (max-width: @on-phone)  {
				width: 50px;
			}
		}
		#site-desc {
			display: block;
			text-align: center;
			color: white;
			font-size: 13px;
			transition: all 0.24s;

			@media (max-width: @on-phone)  {
				font-size: 12px;
			}
		}
	}
	.switcher{
		outline: none;
		background: transparent;
		border: 0;
		font-size: 30px;
		margin-left: 20px;
  	transition: all .24s ease-out;
		
	}
	#site-nav-switch {
		position: relative;
		float: right;
		margin-top: 20px;
		transition: all 0.24s ease;
		&.active {
			transform: rotate(90deg);
		}
	}
	.search {
		position: relative;
		float:right;
		height: 100%;
		width: 200px;
		transition: all .24s ease-out;
		// max-width: 100%;
		// margin: 0px auto 20px auto;
		// z-index: 2;
		#searchform {
			position: relative;
			margin-top: (70px - 36px)/2;
			display: block;
			width: 100%;
			#u-search-btn-submit {
				display: block;
				position: absolute;
				top: 0;
				right: 0px;
				width: 36px;
				height: 36px;
				background: transparent;
				border: 0;
				text-align: center;
				span {
					line-height: 36px;
				}
			}
		}
		#searchinput {
			margin: 0;
			width: 100%;
			padding: 0px 10px;
			line-height: 36px;
			height: 36px;
			font-size: 14px;
			font-family: @base-font-family;
			border: 1px solid #ddd;
			border-radius: 0 !important;
			background: #f5f5f5;
			box-sizing: border-box;
			-webkit-appearance: none;
			box-shadow: none;
			transition: all 0.24s ease;

			&:focus {
				background: #fff;
				border-color: black;
			}
		}
	}
	.search-switch{
		display:none;
		float:right;
		margin-top:20px;
		@media (max-width: @on-phone)  {
			display:block;
		}
	}
}
@media (max-width: @on-phone)  {
	#header .search{
		width:0;
		overflow: hidden;
		position: absolute;
		right: 20px;
		top:0;
	}
	#header.search-open{
		#logo,.switcher{
			opacity:0;	
		}
		.search{
			width: 200px;
			width: ~"calc(100% - 40px)";			
		}
	}
}
#site-menu {
	position: absolute;
  top: 69px;
  right: 0;
	width: 220px;
  padding: 20px 0px;
  background: white;
	border: 1px solid #e6e7e6;
	border-right: 0;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
	transform: translate3d(280px, 0, 0);
	transition: all 0.24s ease;
	visibility: hidden;
  z-index: 2;

  nav {
	  .nav {
		  position: relative;
		  display: block;
		  color: @black;
		  font-size: 0.8125em;
		  padding: 2px 20px;
		  border-left: 3px solid transparent;

		  &:hover {
			  background: fade(lighten(#e1e2e3, 3%), 60%);
			  border-color: @accent-color;
		  }
	  }
  }
}
